body {
  background: #0b0b0b;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 420px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 120px;
}

.progress {
  width: 100%;
  height: 16px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0;
}

#bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00ffcc, #00ffaa);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
}
